#contact {
  padding: 40px 25px;
  background-color: rgba(230, 195, 175, 0.308);;
  border: 1px solid rgba(80, 35, 1, 0.145);
  
}

.div1{
  background-color: aqua;
}

.contact-text {
  margin: 45px auto;
}

.mail-message-area {
  width: 100%;
  padding: 0 15px;
}

.mail-message {
  width: 100%;
  background: rgba(255, 255, 255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin: 0 auto;
  border-radius: 0;
}

.not-visible-message {
  height: 0px;
  opacity: 0;
}

.visible-message {
  height: auto;
  opacity: 1;
  margin: 25px auto 0;
}

/* Input */

.form {
  width: 100%;
  padding: 15px;
  background: #f8f8f8;
  border: 1px solid rgba(80, 35, 1, 0.145);
  margin-bottom: 25px;
  color: #727272 !important;
  font-size: 13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  &:hover {
    border: 1px solid rgb(80, 35, 1);
  }

  &:focus {
    color: white;
    outline: none;
    border: 1px solid rgb(80, 35, 1);
  }
}

.textarea {
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

/* Boton Enviar */

.form-btn {
  font-size: 2rem;
  width: 18rem;
  display: block;
  height: auto;
  padding: 15px;
  color: rgb(80, 35, 1);
  background: rgb(230, 195, 175);
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background: rgb(244, 171, 130);
    border: 1px solid rgba(80, 35, 1, 0.288);
  }
}

.form-btn:active {
  opacity: 0.9;
}
center {
  margin-top: 330px;
}
input {
  position: relative;
  z-index: 9999;
}